- name: Ensure PHP and extensions are installed
  apt:
    name: "{{ php_packages }}"
    state: present
    update_cache: yes

- name: Ensure PHP-FPM service is enabled and running
  service:
    name: "{{ php_fpm_service }}"
    state: started
    enabled: yes
